<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./src/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Prototype Test Suite">
            <directory suffix="Test.php">./src/LaFourchette/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./cache</directory>
                <directory>./config</directory>
                <directory>./log</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>