/*
  _____           _        _                    
 |  __ \         | |      | |                   
 | |__) | __ ___ | |_ ___ | |_ _   _ _ __   ___ 
 |  ___/ '__/ _ \| __/ _ \| __| | | | '_ \ / _ \
 | |   | | | (_) | || (_) | |_| |_| | |_) |  __/
 |_|   |_|  \___/ \__\___/ \__|\__, | .__/ \___|
                                __/ | |         
                               |___/|_|          mark.II
*/

/* Alignment, emphasis & Colors
-----------------------------------------------------*/
.bold {font-weight: bold;}
.m_y {margin: 15px 0;}
.m_t {margin-top: 10px;}
.lh{line-height: 30px;}
.nopl {padding-left: 0;}
.nopr {padding-right: 0;}
.small {font-size: 12px;}
.flatblue {background: #3bafda; color: #ffffff;}
.flatgreen {background: #28bb72; color: #ffffff;}
.flatred {background: #E9573F; color: #ffffff;}
.flatorange {background: #FCBB42; color: #ffffff;}
.flatpurple {background: #967ADC; color: #ffffff;}
.flatgrey {background: #bdc3c7;}
.textblue {color: #2980b9;}
.textgreen {color: #28bb72;}
.textred {color: #c0392b;}
.textorange {color: #e67e22;}
.textpurple {color: #8e44ad;}
.textgrey {color: #999;}
.row {margin: 0;}

/* Panel overrides
-------------------------------------------------- */
.panel {box-shadow: none; border: 1px solid #d4dee4; border-bottom: 1px solid #d4dee4; margin: 10px 0; min-height: 160px;}
.panel-default .panel-heading {background: #ffffff; margin-bottom: 0; border-bottom: 1px solid #dedede; min-height: 43px; font-size: 18px; font-weight: 500; }
.panel-heading{padding: 10px 15px; border: 0; font-weight: 200;}
.panel-heading h3{ font-weight: 200;}
.panel-body {padding: 15px;}
.panel.squared{border-radius: 0;}
.rounded-top{border-radius: 4px 4px 0 0;}
small{font-size: 14px; color: #999; font-weight: 200;text-transform: uppercase;}
.free-slot .panel-heading{background: rgba(88, 148, 66, .8); color: #fff; font-weight: 200;}
.free-slot .panel-body .btn{margin-top: 20px; font-weight: 200;}
.integ-number{text-transform: uppercase; font-weight: 200; font-size: 16px;}
.free .integ-number{color: #fff;}
.integ-name input{border: 0;}

/* Content elements
-----------------------------------------------------*/
html {height: 100%;}
body{min-height: 100%; height: 100%; background: #e7e7e7;}
header {background: #fff; height: 50px; line-height: 50px; padding: 0 0 0 20px; border-bottom: 1px solid #d4dee4; }
.title{ line-height: 1; font-size: 20px;padding: 16px 10px;}
.logo{background: #589442; width: 100px; text-align: center; margin-left: -20px;}
.label{padding: 5px 10px; font-weight: 400;}
.user-panel{margin: 0 30px; font-size: 14px;}
.user-panel a{margin: 0 0 0 10px;}
.profile-pic img{width: 60px; height: 60px; border-radius: 50%;}
.table{margin: 10px;}
.table tr td:first-child{font-weight: bold;text-align: right;}
.table tr:first-child td{border-top: 0;}
.create {margin-top: 20px!important;}
.mini-loader{margin: 0 0 0 5px; width: 20px; height: 20px;}
.projects .panel-heading {background: rgba(52, 152, 219, 1.0); color: #fff;font-weight: 200;}
.services .panel-heading {background: rgba(155, 89, 182,1.0); color: #fff;font-weight: 200;}
.daemons .panel-heading {background: rgba(192, 57, 43,1.0); color: #fff;font-weight: 200;}
.list-group {margin-bottom: 0;}
.list-group-item {border: 0; padding: 0;}
.list-group-item a {display: block; padding: 10px 15px;}
.projects .panel-body ul .list-group-item a:hover {text-decoration: none; background: rgba(52, 152, 219,.5);}
.services .panel-body ul .list-group-item a:hover {text-decoration: none; background: rgba(155, 89, 182,.5);}
.daemons .panel-body ul .list-group-item a:hover {text-decoration: none; background: rgba(192, 57, 43,.5);}


/* Buttons overrides
-------------------------------------------------- */
.btn {transition: background .4s; border-radius: 2px; margin-top: -1px; padding: 8px 20px; border: none;}
.btn-default{background: #fff; border: 1px solid #dedede;}
.btn-success{background: rgba(88, 148, 66, .8); border: none; font-size: 14px;}
.btn-warning{border: none;}
.btn-danger{border: none;}

/*-----------------------------------
===== !! That's all Folks !! ;) =====
---------------------------------- */
