{% if la_fourchette_prototype_integ_availability() == false %}
    <div class="alert alert-danger">
        <strong>Warning!</strong> There is no slot available for now<br />You need to wait for an empty one
    </div>
{% else %}
    <div class="alert alert-info">
        Slot available, <strong>come and get some!!</strong>
    </div>
{% endif %}

{% if la_fourchette_prototype_integ_availability() == true %}
    <div class="col-lg-3 pull-right">
        <a href="{{app.request.baseUrl}}/create-prototype" class="btn btn-info btn-block hulk m_y">
            Create a prototype
        </a>
    </div>
{% endif %}

{% if vms|length > 0 %}
    <table class="col-lg-12 table-striped" id="prototypes">
        <thead>
        <tr>
            <th>Machine</th>
            <th>Owner</th>
            <th>Info</th>
            <th>Comment</th>
            <th>Status</th>
            <th>Expires in</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vm in vms %}
            <tr>
                <td>Integ {{vm.integ}}</td>
                <td>{{vm_username(vm)}}</td>
                <td>
                    <dl class="dl-horizontal">
                        <dt>ID</dt>
                        <dd>{{vm.idVm}}</dd>
                        <dt>Name</dt>
                        <dd>{{vm}}</dd>
                        <dt>Expiration date</dt>
                        <dd>{{vm.expiredDt|date('Y-m-d H:i:s')}}</dd>
                        {% if vm.status == 0 %}
                            <dt>Status page link</dt>
                            <dd><a href="http://status.integ{{vm.integ}}" target="_blank">Status page</a></dd>
                        {% endif %}
                    </dl>
                </td>

                <td>
                    <div class="edit" id="{{vm.idVm}}">{% if vm.comment is empty %}Comment here{% else %}{{vm.comment}}{% endif %}</div>
                </td>
                <td>{{la_fourchette_prototype_vm_status(vm.status)}}</td>

                <td>
                    <b>{{vm.endsIn}}</b>
                </td>

                <td>
                    {% if app.session.get('user').username == vm_username(vm) %}
                        {% if vm.status != 4 %}
                            <a href="/force-expire-prototype/{{ vm.idVm }}" class="btn btn-danger" title="Force the expiration"><i class="icon-trash nabilla"></i></a>
                        {% endif %}
                        {% if vm.status != -1 and vm.status != 5 %}
                        <a href="/ask-more-prototype/{{ vm.idVm }}" class="btn btn-success" title="Ask for {{ default_expiration_delay }} hours more"><i class="icon-heart nabilla"></i></a>
                        {% endif %}
                        {% if vm.status == 1 %}
                            <a href="/force-start/{{ vm.idVm }}" class="btn btn-default" title="Force starting"><i class="icon-off nabilla"></i></a>
                        {% endif %}
                    {% endif %}
                    {% if app.session.get('user').username == vm_username(vm) and vm.status != -1 %}
                        <a href="/show-prototype/{{ vm.idVm }}" class="btn btn-success" title="See vm log and details"><i class="icon-info-sign nabilla"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
