{% if la_fourchette_prototype_integ_availability() == false %}
    <div class="alert alert-danger">
        <strong>Warning!</strong> There is no slot available for now<br />You need to wait for an empty one
    </div>
{% else %}
    <div class="alert alert-info">
        Slot available, <strong>come and get some!!</strong>
    </div>
{% endif %}

{% if la_fourchette_prototype_integ_availability() == true %}
    <div class="col-lg-3 pull-right">
        <a href="{{app.request.baseUrl}}/create-prototype" class="btn btn-info btn-block hulk m_y">
            Create a prototype
        </a>
    </div>
{% endif %}

{% if vms|length > 0 %}
    <table class="col-lg-12 table-striped" id="prototypes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Integ</th>
            <th>Node</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Expired in</th>
            <th>Link</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vm in vms %}
            <tr>
                <td class="text-center">{{vm.idVm}}</td>
                <td class="uppercase">{{vm.integ.name}}</td>
                <td class="uppercase">{{vm.integ.node.name}}</td>
                <td>{{vm}}</td>
                <td>
                    <div class="edit" id="{{vm.idVm}}">{% if vm.comment is empty %}Comment here{% else %}{{vm.comment}}{% endif %}</div>
                </td>
                <td>{{la_fourchette_prototype_vm_status(vm.status)}}</td>
                <td>{{vm.createdBy.username}}</td>
                <td>{{vm.expiredDt|date('Y-m-d H:i:s')}}</td>
                {% if vm.status == 0 %}
                    <td><a href="http://status{{vm.integ.suffix}}" target="_blank">Go to status page</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>
                    {% if app.session.get('user').username == vm.createdBy.username %}
                        {% if vm.status != 4 %}
                            <a href="/force-expire-prototype/{{ vm.idVm }}" class="btn btn-danger" title="Force the expiration"><i class="icon-unlink nabilla"></i></a>
                            <a href="/ask-more-prototype/{{ vm.idVm }}" class="btn btn-success" title="Ask for {{ default_expiration_delay }} hours more"><i class="icon-rocket nabilla"></i></a>
                        {% endif %}
                        {% if vm.status == 1 %}
                            <a href="/force-start/{{ vm.idVm }}" class="btn btn-default" title="Force starting"><i class="icon-off nabilla"></i></a>
                        {% endif %}
                    {% endif %}
                    {% if app.session.get('user').username == vm.createdBy.username and vm.status != -1 %}
                        <a href="/show-prototype/{{ vm.idVm }}" class="btn btn-success" title="See vm log and details"><i class="icon-info-sign nabilla"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
