{% extends "layout.html" %}

{% block content %}
<p>
    To create a prototype you need to choose a branch for the project you want to test.<br />
    By default all branch is as in production.
</p>

<hr class="bs-docs-separator">

<div class="row">
    <div class="span12">   
        <form id="create-prototype" class="form-block" action="{{app.request.baseUrl}}/launch-prototype" method="POST" class="accordion" id="accordion">
                {% for project in repositories %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse{{project['name']}}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><label><strong>{{project['name']}}</strong></label></a>
                        </div>
                        <div id="collapse{{project['name']}}"  class="accordion-body collapse">
                            <div class="accordion-inner">
                                <label>Branches</label>
                                {% if project['branches']|length > 0 %}
                                    <select name="projects[{{project['id']}}]">
                                        {% for branch,selected in project['branches'] %}
                                        <option value="{{branch}}" {% if selected %} selected="selected" {% endif %}>{{branch}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            Person to notify once the VM is ready:<br />
            <select multiple class="chosen-select span6" data-placeholder="Choose all person you want..."">
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }} - {{ user.email }}</option>
                {% endfor %}
            </select>

            <hr class="bs-docs-separator">
            <button type="submit" id="launch-prototype" class="btn btn-info"><i class="icon-plus-sign icon-white"></i> Create a Prototype</button>
        </form>
    </div>
</div>


<script>
window.onload =
    function(){
        $(".collapse").collapse({
          toggle: false
        });

        $(".chosen-select").chosen({search_contains: true});
    };

</script>
{% endblock %}

