{% extends "layout.html" %}

{% block content %}
<p>
    To create a prototype you need to choose a branch for the project you want to test.<br />
    By default all branch is as in production.
</p>

<hr class="bs-docs-separator">

<div class="row-fluid">
    <div class="span12">
        <form id="create-prototype" class="form-block" action="{{app.request.baseUrl}}/launch-prototype" method="POST" class="accordion" id="accordion">
            <div class="row-fluid">
                {% for project in repositories %}
                    <div class="accordion-group span6">
                        <div class="accordion-heading">
                            <div href="#collapse{{project['name']}}" class="accordion-toggle">
                                <div class="span6">
                                    <strong>{{project['name']}}</strong>
                                </div>
                                <div class="span6">
                                    {% if project['branches']|length > 0 %}
                                    <select name="projects[{{project['id']}}]">
                                        {% for branch,selected in project['branches'] %}
                                        <option value="{{branch}}" {% if selected %} selected="selected" {% endif %}>{{branch}}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 %}
                        </div>
                        <div class="row-fluid">
                    {% endif %}
                {% endfor %}
            </div>

            <div style="clear: both">&nbsp;</div>
            <br />
            Persons to notify once the VM is ready:<br />
            <select multiple class="chosen-select span6" data-placeholder="Choose all persons you want..." name="users[]">
                {% for user in users %}
                    <option value="{{ user.username }}" {% if user.username == app.session.get('user').username %} selected {% endif %}>{{ user.username }} - {{ user.email }}</option>
                {% endfor %}
            </select>

            <hr class="bs-docs-separator">
            <button type="submit" id="launch-prototype" class="btn btn-info"><i class="icon-plus-sign icon-white"></i> Create a Prototype</button>
        </form>
    </div>
</div>


<script>
window.onload =
    function(){
        $(".chosen-select").chosen({search_contains: true});
    };

</script>
{% endblock %}

