{% extends "layout.html" %}

{% block content %}
<p>
    To create a prototype you need to choose a branch for each project
</p>

<hr class="bs-docs-separator">

<div class="row">
    <div class="span9">   
        <form id="create-prototype" class="form-block" action="{{app.request.baseUrl}}/launch-prototype" method="POST">

            {% for project in repositories %}
            <div class="span4">
                <label><strong>{{project['name']}}</strong></label>
                <label>Branches</label>
                {% if project['branches']|length > 0 %}
                <select name="projects[{{project['id']}}]">
                    {% for branch in project['branches'] %}
                    <option value="{{branch}}">{{branch}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
<hr class="bs-docs-separator">
<button type="submit" id="launch-prototype" class="btn btn-info"><i class="icon-plus-sign icon-white"></i> Create VM</button>
{% endblock %}