<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Prototype Application</title>

        <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div class="page-header">
                    <h1>Prototype Application</h1>
                </div>
                <div style="float: right;">
                    {% if app.session.get('isAuthenticated') %}
                    Hello {{ app.session.get('user').username }}
                    <a href="{{ path('logout') }}">Logout</a>
                    {% endif %}
                </div>
                {% include 'nav.html' %}
                {% block flash %}
                    {% if flash is defined %}
                        <div class="alert alert-message alert-{{ flash.type }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ flash.short }}</strong> {{ flash.ext }}
                        </div>
                    {% endif %}
                {% endblock flash %}
                {% block content %}{% endblock %}
            </div>

            <div id="push"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="muted credit">Made by <a href="mailto:gcavana@lafourchette.com">Guillaume Cavana</a> and <a href="mailto:lchenay@lafourchette.com">Laurent Chenay</a>.</p>
            </div>
    </div>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/main.js"></script>
    </body>
</html>
