<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}{% endblock %}

    <title>Prototype Application</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/font-awesome.css?v={{asset_version}}" rel="stylesheet">    
    <link href="{{ app.request.basepath }}/css/bootstrap.css?v={{asset_version}}" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/GC_prototypes.css?v={{asset_version}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/chosen.min.css?v={{asset_version}}" type="text/css" />

    </head>
     <body class="lightbg">

        {% include 'nav.html' %}
        <div class="container pt50">
        <h1>LF Prototype</h1>
        <div class="row">
            <div class="col-lg-12">
            <div class="module light">
            {% block flash %}
                {% if flash is defined %}
                    <div class="alert alert-message alert-{{ flash.type }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ flash.short }}</strong> {{ flash.ext }}
                    </div>
                {% endif %}
            {% endblock flash %}
            {% block content %}{% endblock %}
            </div>
            </div>
        </div>
        </div>    

        <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery.js?v={{asset_version}}"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/bootstrap.min.js?v={{asset_version}}"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/main.js?v={{asset_version}}"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/async.js?v={{asset_version}}"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/chosen.jquery.min.js?v={{asset_version}}"></script>

        {% block footer_js %}{% endblock %}
<!-- 
    ____             __        __                      __  ___           __      ____
   / __ \_________  / /_____  / /___  ______  ___     /  |/  /___ ______/ /__   /  _/
  / /_/ / ___/ __ \/ __/ __ \/ __/ / / / __ \/ _ \   / /|_/ / __ `/ ___/ //_/   / /  
 / ____/ /  / /_/ / /_/ /_/ / /_/ /_/ / /_/ /  __/  / /  / / /_/ / /  / ,<    _/ /   
/_/   /_/   \____/\__/\____/\__/\__, / .___/\___/  /_/  /_/\__,_/_/  /_/|_|  /___/   
                               /____/_/                                              
Version : 1.0
Developer : Guillaume CAVANA
UI : Laurent ROBIN
Sponsor : Laurent CHENAY -->        
    </body>
</html>
