<header>
    <div class="logo pull-left">
        <a href="/" title="Made by Guillaume Cavana, Laurent Chenay and the intern">
            <img src="img/logo.png">
        </a>
    </div>
    <span class="title">
        Prototype
    </span>
    <div class="user-panel pull-right">
        {% if app.session.get('isAuthenticated') %}
            <span class="hidden-xs">Hello {{ app.session.get('user').username }}</span>
            <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
        {% endif %}
    </div>
</header>
