{% extends "layout.html" %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <div class="module light">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h1>{{vm.name}}</h1>
                            <div class="vm-creation">
                                <strong>Created on</strong> {{vm.createDt|date('Y-m-d H:i:s')}} <strong>by</strong> {{vm.createdBy}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="pull-right opensans vm-expiration">
                                <strong>Expired at</strong> {{vm.expiredDt|date('Y-m-d H:i:s')}}
                            </div>
                            {% if vm.type == 1 %}
                                <img src="/img/kirk.png" style="width: 200px; height: 182px" /><br />
                                <strong>This is a v2 Spock !</strong>
                            {% endif %}
                        </div>
                    </div><!-- //row -->
                    <div id="details" class="row sep_top">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                            <h3>Projects</h3>
                            {% if vm.type == 1 %}
                            The v2 does not ship with configurable project branches
                            {% else %}
                            <div class="list-group">
                                {% for project in vm.vmProjects %}
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{project.project.name}}</h4>
                                    <p class="list-group-item-text textgrey uppercase">{{project.branch}}</p>
                                </a>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <h3>Users notified</h3>
                            {% for user in users %}
                            <span class="bold clearfix">{{user.user.username}}</span>
                            <a href="#">{{user.user.email}}</a>
                            {% endfor %}

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                            <h3>Logs</h3>
                            {% if la_fourchette_prototype_show_log(vm) %}
                                <a href="{{ path('enlarge_version', {'idVm': vm.IdVm})}}" target="blank">Enlarge version</a>
                            {% else %}
                                <a href="javascript:void(0)" id="refresh-log">Refresh the page to see the log</a>
                            {% endif %}
                            <div id="log">
                            {{ la_fourchette_prototype_show_log(vm) }}
                            </div>
                        </div>
                    </div><!-- //row -->
                    <div class="spacer"></div>
                </div><!-- //module -->
            </div><!-- //div -->
        </div><!-- //row -->

{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $(document).ready(function(){
        waitForMsg('{{url('_ajax_log', {'idVm' : vm.IdVm })}}');
    });
</script>
{% endblock %}